html, body {
        background-color: rgb(92, 118, 140);
}

#inicio h1 {
    color: rgb(253, 253, 253);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 100px;
    
   
    font-size: 70px;
}

p {
    text-align: center;
    
    font-style: italic;
}


#inicio h2 {
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: aqua;
    
    
}

#inicio p {
    font-size: 20px;
    color: aliceblue;
    background-color: rgb(83, 114, 116);
    

}

.galeria {
    display: flex;
    gap: 20px;
}

.galeria img {
    width: 300px;
    height: auto;
}

.contenedor {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    flex-wrap: wrap;
    margin-top: 80px;
}
.card {
    color: white;
    background: rgb(125, 91, 23);
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 2);
    
}
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card h2 {
    padding: 10px;

}
.card p {
    padding: 0 10px 20px 10px;
}

@media (max-width:600px) {
.contenedor {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 10px;
}
}




.footer-contenido {
    background-color: #111;
    justify-content: space-between;
    display: flex;
    color: white;
    padding: 30px 60px; 
}
    



.contactos ,
.redes {
    display: flex;
    flex-direction: column;
    color: white;
    
}


@media (max-width:600px) {
    .footer-contenido {
        flex-direction: column;
        padding: 20px;
    }

}

